@font-face {
	font-family: 'GTVCS';
	src: url('../css/fonts/GTVCS-Black.woff2') format('woff2'),
		url('../css/fonts/GTVCS-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	background-color: black;
	color: white;
	font-family: 'GTVCS';
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}  

#top {
	display: flex;
	align-items: center;
	height: 19rem;
	gap: 1rem;
	transform: translateY(-30%);
}

#center, #bottom {
	margin-top: -25px;
	display: flex;
	align-items: center;
	gap: 1rem;
	transform: translateY(-35%);
}

#credits {
	display: flex;
	transform: translateX(-15px);
}

#creditsImage {
	max-width: 6rem;
	max-height: 6rem;
	width: 100%;
	height: 100%;
	margin-left: 25px;
	margin-top: 4rem;
}

#creditsText {
	transform: translateY(65%);
	margin-left: 15px;
}

#creditsTime {
	transform: translateY(65%);
	margin-left: 275px;
}


#zonsopkomst {
	width: 330px;
	height: 300px;
	border-radius: 16px;
	background: linear-gradient(to bottom, #0060ea, #000);
	transform: translateX(15px);
}

#sun-text {
	margin-left: 25px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#sun,
#moon {
	margin-top: -25px;
	padding: 1rem;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	gap: 1rem;
}

#sunImg,
#moonImg {
	width: 100px;
	height: 100px;
}

#sunTime,
#moonTime,
#sunTemp,
#moonTemp {
	transform: none;
	margin: 0;
}

#sunTime,
#moonTime {
	font-size: 25px;
}

.sun-info,
.moon-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#huidigeTemp {
	font-size: 16px;
	margin-top: -32px;
	margin-left: 270px;
}

#energieverbruik {
	width: 860px;
	height: 300px;
	border-radius: 16px;
	background: linear-gradient(to bottom, #0060ea, #000);
	margin-left: 15px;
}

#energieverbruik-titel {
	margin-top: -75px;
	font-size: 1.17em;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#grafiek {
	margin-left: 25px;
	margin-top: 95px;
	width: 460px;
	height: auto;
	border-radius: 16px;
	background: transparent;
}

#energieverbruik-titel, #toptext {
	color: white;
	margin-left: 10px;
}

#grafiek-container {
	width: 100%;
	border: 2px solid white;
	border-radius: 12px;
	padding: 0 10px;
	box-sizing: border-box;
	position: relative;
}

#energyChart {
	width: 104% !important;
	height: 100px !important;
	margin-top: 10px;
	margin-left: -7px;
}

#bottomtext {
	display: flex;
	justify-content: space-between;
	margin-top: -15px;
	padding: 0 10px;
}

#bottomtext h1 {
	font-size: 16px;
	color: white;
	font-weight: normal;
}

#sidetext {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 115px;
}

#sidetext h1 {
	margin: 0;
	padding: 0;
	line-height: 1;
}

#toptext {
	margin-top: -5px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#energieverbruik {
	display: flex;
	gap: 25px;
}

#zonnepanelen {
	margin-left: 40px;
}

#zonnepanelen-text {
	font-size: 1.17em;
	margin-top: 25px;
	margin-left: 20px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#kwh {
	font-size: 1rem;
	margin-left: -40px;
	margin-top: 75px;
}

#opbrengst {
	height: 175px;
	width: 175px;
	background-color: transparent;
}

#staafjes {
	display: flex;
	gap: 15px;
	height: 200px;
	margin-top: -30px;
	align-items: flex-end;
}

.staaf {
	width: 50px;
	height: 80%;
	background: #eee;
	background: linear-gradient(to top, white, transparent);
	border-radius: 8px;
}

#verandertemp {
	width: 275px;
	height: 300px;
	border-radius: 16px;
	background: linear-gradient(to bottom, #0060ea, #000);
}

#verandertemp-titel {
	margin-left: 25px;
	margin-top: 25px;
	size: 25px;
}

.circle {
	background: linear-gradient(to bottom, #00ABF7 0%, #0066EC 25%, #000000 75%);
	width: 175px;
	height: 175px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50%;
	transform: translateX(-50%);
    margin-top: -5px;
    position: relative;
    overflow: hidden;
}

.red-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(to bottom, #FF4D4D 0%, #D00000 25%, #000000 75%);
	opacity: 0;
	transition: opacity 1s ease;
	z-index: 1;
}

.inner-circle {
	background-color: #000000;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#tempInput {
    font-size: 48px;
    margin-left: -2.5px;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    color: white;
    outline: none;
    font-family: 'GTVCS';
}

#tempInput::-webkit-outer-spin-button,
#tempInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.temperature-text .label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: 4px;
}

#tempGevoel {
    margin: -12px 0 0 0;
    opacity: 1;
    transition: opacity 0.5s ease;
    width: 100%;
    text-align: center;
}

.fade-out {
    opacity: 0 !important;
}

.fade-in {
    opacity: 1 !important;
}

#leuke-weetjes {
	width: 560px;
	height: 175px;
	border-radius: 16px;
	background: linear-gradient(to bottom, #000, #0060ea);
	transform: translateX(15px);
	overflow: hidden;
}

#leuke-weetjes-text{
	margin-left: 25px;
	margin-top: 10px;
}

#leuke-weetjes-feit{
	text-align: center;
	margin: 0 auto;
	width: 90%;
	height: 80%;
}

#lampjes {
	max-width: 340px;
	width: 100%;
	height: 175px;
	border-radius: 16px;
	background: linear-gradient(to bottom, #000, #0060ea);
	transform: translateX(15px);
	position: relative;
	overflow: hidden;
}

#lampjes-titel {
	margin-left: 25px;
	margin-top: 10px;
}

.lampjes-kamer-column {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50px;
	left: 10px;
}

.right-column {
	left: 180px;
}

.lampjes-kamers {
	display: flex;
	align-items: center;
	margin-bottom: -15px;
}

.lampjes-kamer-title {
	margin-left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background: #ffffff;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: #000000;
    transition: .4s;
    border-radius: 50%;
}

/* toggle AAN*/
input:checked + .slider {
    background: #eee;
}

/* toggle UIT*/
input:checked + .slider:before {
    transform: translateX(26px);
    background: #0060ea;
}

#credits2 {
	margin-left: 20px;
	visibility: hidden;
}

#creditimages {
	display: flex;
}

#vscimg {
	height: 90px;
	width: 90px;
}

#fontimg {
	height: 90px;
	width: 90px;
	margin-left: 20px;
}