@font-face {
    font-family: 'GTVCS';
    src: url('../css/fonts/GTVCS-Black.woff2') format('woff2'),
        url('../css/fonts/GTVCS-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: black;
    color: white;
    font-family: 'GTVCS';
}

#top {
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translateY(-30%);
}

#center {
    display: flex;
    align-items: center;
    gap: 1rem;
    transform: translateY(-35%);
}

#credits {
    display: flex;
    transform: translateX(-7.5%);
}

#creditsImage {
    max-width: 15.625rem;
    max-height: 15.625rem;
    width: 100%;
    height: 100%;
}

#creditsText {
    transform: translateY(50%);
}

#zonsopkomst {
    width: 330px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(to bottom, #0060ea, #000);
    transform: translateX(10%);
}

#sun, #moon {
    padding: 1rem;
    width: 100%;
    height: 100px;
}

#sunImg {
    width: 100px;
    height: 100px;  
}

#sunTime {
    font-size: 25px;
    transform: translateX(55%) translateY(-250%);
}

#sunTemp {
    transform: translateX(60%) translateY(-250%);
}

#moonImg {
    width: 100px;
    height: 100px;
    transform: rotate(-25deg);
}

#moonTime {
    font-size: 25px;
    transform: translateX(55%);
}

#moonTemp {
    transform: translateX(60%);
}